/*
Author - Sahil Bathla
Description - Drop down list css
Version - 1.0
*/

#menu
  {
    display:inline-block;
    margin:0px;
    padding:0px; /*overwriting browser specific margin padding for lists*/

  }


#menu li 
  {
    display:inline-block;
    position:relative;
    margin-left:2px;
  }

#menu li a
  {
    display:inline-block;
    text-decoration:none;
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    color:black;
    padding-left:20px;
    padding-right:20px;
    height:37px;
    line-height:37px;
    padding-top:2px;
    background-color:#CFCFCF;
    border-bottom: solid 1px #6d6d6d;
  }


#menu > li:first-child
  {
    margin-left:0px;
    color:red;
  }

#menu li ul
  {
    display:none;
    position:absolute;
    padding-top:5px;
    padding-bottom:5px;
  }

#menu li ul li
  {
    display:block; 
    border-bottom: solid 1px #6d6d6d;
  }

#menu li ul li:last-child
  {
    border-bottom: none;
  }

#menu li:hover a
  {
    
    background-color:white;
    color:#8c8c8c;
    border:solid 1px #6d6d6d;
    border-bottom:none;
    padding-left:19px;
    padding-right:19px;
    padding-top:1px;
  }


#menu li:hover ul
  {
    display:block;
    padding:10px;
    border:solid 1px #6d6d6d;
    border-top:none;
    width:178px;
  }


#menu li:hover ul li a
  {
    margin:0px;
    padding:0px;
    text-decoration:none;
    color:black;
    font-size:14px;
    border:none;
  }

#menu li:hover ul li:hover a
  {
    text-decoration:none;
    color:#bd0707;
  }

