/*
Author - Sahil Bathla
Description - Drop down list css
Version - 1.0
*/

html,body
  {
    margin:auto;
    padding:0px;
    width:1000px;
  }

#header
  {
    background:#b2e7ff;
    font:'tohoma';
    font-size:24px;
    color:black;
    text-align:center;
    border-bottom: solid 2px #0ab1ff;
    margin-top:-25px;
    width:1000px;
  }

#footer
  {
    background:#3cff78;
    font:'tohoma';
    font-size:24px;
    color:black;
    text-align:center;
    border-bottom: solid 2px #0ab1ff;
    margin-top:-20px;
    width:1000px;
  }


#left
  {
    background:#0ab1ff;
    font:'tohoma';
    font-size:18px;
    color:black;
    width:1000px;
    float:left;
    position:relative;
    right:750px;
    }

#navigation ul li,#navigation ul li a
  {
    font-size:14px;
    color:white;
  }

#leftDesc
  {
    font-size:12px;
  }

#leftBox
  {
    width:230px;
    float:left;
    padding:25px 10px;
    position:relative;
    left:750px;
    overflow:hidden;
  }


#right
  {
    background:#ededed;
    font:'tohoma';
    font-size:24px;
    color:black;
    float:left;
    width:1000px;  /* 750+250 */
    position:relative;	
    overflow:hidden; /* to hide #left from overflowing when shifted right */
  }


#rightBox
  {
    padding:20px;
    width:710px;
    float:left;
    position:relative;
    left:750px;
    clear:none;
  }

.rightDesc
   {
    font-size:12px;
    color:#802525;
  }


